<span>
    {{ range .Site.Params.hero.socialLinks.fontAwesomeIcons }}
    {{ $iconName := .icon | replaceRE "^(?:fab|fas|far|fa) fa-(.*)$" "$1" | title | replaceRE "Github" "GitHub" | replaceRE "Linkedin" "LinkedIn" }}
    <span class="px-1">
        <a href="{{ .url }}"
            {{ if not (hasPrefix .url "#") }} target="_blank" rel="noopener noreferrer" {{ end }}
            class="btn social-icon"
            aria-label='{{ .title | default $iconName }}' title='{{ .title | default $iconName }}'
        >
            <i class="{{ .icon }}"></i>
        </a>
    </span>
    {{ end }}

    {{ range .Site.Params.hero.socialLinks.customIcons }}
    <span class="px-1">
        <a href="{{ .url }}"
            {{ if not (hasPrefix .url "#") }} target="_blank" rel="noopener noreferrer" {{ end }}
            class="btn social-icon"
            aria-label='{{ .title | default "Social Link" }}' title='{{ .title | default "Social Link" }}'
        >
            <img src="{{ .icon }}" alt="">
        </a>
    </span>
    {{ end }}
</span>
